USE [project_NisanurUnal]
GO
/****** Object:  StoredProcedure [dbo].[AddNewProduct]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddNewProduct] 
@ProductName as nvarchar(50),
@CompanyName as nvarchar(100),
@Price as decimal(15,3),
@Category as nvarchar(100) 
as 
begin
    declare @CompanyID as int;
    Select @CompanyID = CompanyID from Companies where CompanyName = @CompanyName;

if @CompanyID is not null
begin
    insert into products (ProductName, Price, Category, CompanyID)
    values (@ProductName, @Price, @Category, @CompanyID);
PRINT 'SUCCESS: Product "' + @ProductName + '" successfully added for Company ID ' + CAST(@CompanyID AS NVARCHAR) + '.';    end 
    else 
    begin
    PRINT 'ERROR: Company "' + @CompanyName + '" not found in the database. Product insertion failed.';
    end
end 

GO
