USE [project_NisanurUnal]
GO
/****** Object:  View [dbo].[V_SalesAndEmployeeDetails]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_SalesAndEmployeeDetails]
as select
s.saledate, s.quantity, 
e.firstname + ' ' + e.lastname as FullName,
p.category
from sales s
inner join Employees e on s.employeeID = e.employeeID
inner join products p on p.productID= s.productID;

GO
