USE [project_NisanurUnal]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Position] [varchar](50) NOT NULL,
	[salary] [decimal](12, 2) NOT NULL,
	[HireDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [DepartmentID], [FirstName], [LastName], [Position], [salary], [HireDate]) VALUES (1, 1, N'Alice', N'Smith', N'QUALITY ASSURANCE', CAST(200000.00 AS Decimal(12, 2)), CAST(N'2020-01-15' AS Date))
INSERT [dbo].[Employees] ([EmployeeID], [DepartmentID], [FirstName], [LastName], [Position], [salary], [HireDate]) VALUES (2, 2, N'Robert', N'Jones', N'Associate Director', CAST(188403.47 AS Decimal(12, 2)), CAST(N'2018-05-20' AS Date))
INSERT [dbo].[Employees] ([EmployeeID], [DepartmentID], [FirstName], [LastName], [Position], [salary], [HireDate]) VALUES (3, 3, N'Emily', N'Clark', N'Lead Developer', CAST(130000.00 AS Decimal(12, 2)), CAST(N'2021-09-01' AS Date))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [salary]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_DepartmentID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [chk_salary] CHECK  (([salary]>=(0)))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [chk_salary]
GO
