USE [project_NisanurUnal]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[DepartmentName] [varchar](50) NOT NULL,
	[ManagerName] [varchar](50) NULL,
	[EmployeesCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [CompanyID], [DepartmentName], [ManagerName], [EmployeesCount]) VALUES (1, 1, N'Investment Strategy', N'Mark L. Johnson', 121)
INSERT [dbo].[Departments] ([DepartmentID], [CompanyID], [DepartmentName], [ManagerName], [EmployeesCount]) VALUES (2, 1, N'Corporate Finance', N'Sarah Chen', 85)
INSERT [dbo].[Departments] ([DepartmentID], [CompanyID], [DepartmentName], [ManagerName], [EmployeesCount]) VALUES (3, 2, N'Software Development', N'Omar Hassan', 150)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((0)) FOR [EmployeesCount]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD CHECK  (([EmployeesCount]>=(0)))
GO
