USE [project_NisanurUnal]
GO
/****** Object:  StoredProcedure [dbo].[UpdateSalaryByPerformance]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateSalaryByPerformance]
@EmployeeID int, 
@PerformanceScore decimal(3,2)
as begin
if @PerformanceScore >=9.0
begin 
	update employees
	set salary = salary*1.10 where EmployeeID= @EmployeeID;

	print 'Succes, number '+ cast(@employeeID as nvarchar) + ' received a 10% salary increase.'

	end else 
	begin
	update employees 
	set salary = salary*1.05
	where EmployeeID= @EmployeeID;

	print 'Success, number' + cast(@employeeID as nvarchar) + ' received a 5% salary increase.'
    end
end

GO
