USE [project_NisanurUnal]
GO
/****** Object:  Table [dbo].[SalaryHistory]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[OldSalary] [decimal](12, 2) NOT NULL,
	[NewSalary] [decimal](12, 2) NOT NULL,
	[ChangeDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SalaryHistory] ON 

INSERT [dbo].[SalaryHistory] ([HistoryID], [EmployeeID], [OldSalary], [NewSalary], [ChangeDate]) VALUES (1, 1, CAST(212587.32 AS Decimal(12, 2)), CAST(200000.00 AS Decimal(12, 2)), CAST(N'2025-12-10T14:35:02.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[SalaryHistory] OFF
GO
ALTER TABLE [dbo].[SalaryHistory] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
