USE [project_NisanurUnal]
GO
/****** Object:  Table [dbo].[CompanyDetails]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyDetails](
	[CompanyID] [int] NOT NULL,
	[CEOName] [nchar](50) NOT NULL,
	[NumberOfEmployees] [int] NOT NULL,
	[HeadquarterAdress] [nchar](150) NULL,
 CONSTRAINT [PK_CompanyDetails] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CompanyDetails] ([CompanyID], [CEOName], [NumberOfEmployees], [HeadquarterAdress]) VALUES (1, N'Nisanur Unal                                      ', 1250, N'1400 Broadway, New York, NY 10018, USA                                                                                                                ')
INSERT [dbo].[CompanyDetails] ([CompanyID], [CEOName], [NumberOfEmployees], [HeadquarterAdress]) VALUES (2, N'Gokce Nur Cosgun                                  ', 450, N'25 Queen Vİctoria Street, London, EC4N +SA, UK                                                                                                        ')
INSERT [dbo].[CompanyDetails] ([CompanyID], [CEOName], [NumberOfEmployees], [HeadquarterAdress]) VALUES (3, N'Rumeysa Dogan                                     ', 4800, N'Mainzer Landstarbe 16, 60325 Frankfurt, Germany                                                                                                       ')
GO
ALTER TABLE [dbo].[CompanyDetails]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDetails_CompanyID] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[CompanyDetails] CHECK CONSTRAINT [FK_CompanyDetails_CompanyID]
GO
