USE [project_NisanurUnal]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[SaleDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [ProductID], [EmployeeID], [SaleDate], [Quantity], [CompanyID], [CustomerID]) VALUES (25, 1, 1, CAST(N'2025-09-01' AS Date), 250, 1, 0)
INSERT [dbo].[Sales] ([SaleID], [ProductID], [EmployeeID], [SaleDate], [Quantity], [CompanyID], [CustomerID]) VALUES (26, 3, 4, CAST(N'2025-09-05' AS Date), 800, 2, 0)
INSERT [dbo].[Sales] ([SaleID], [ProductID], [EmployeeID], [SaleDate], [Quantity], [CompanyID], [CustomerID]) VALUES (27, 6, 8, CAST(N'2025-09-10' AS Date), 400, 3, 0)
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Companies]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_EmployeeID]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [chk_quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [chk_quantity]
GO
