USE [project_NisanurUnal]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 11.12.2025 12:26:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[Sector] [varchar](50) NOT NULL,
	[FoundationYear] [date] NULL,
	[Country] [varchar](50) NULL,
	[Revenue] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyID], [CompanyName], [Sector], [FoundationYear], [Country], [Revenue]) VALUES (1, N'Apex Capital', N'Investment Banking', CAST(N'2001-08-10' AS Date), N'USA', CAST(75000000.50 AS Decimal(15, 2)))
INSERT [dbo].[Companies] ([CompanyID], [CompanyName], [Sector], [FoundationYear], [Country], [Revenue]) VALUES (2, N'DigiPay Corp', N'Fintech', CAST(N'2019-03-25' AS Date), N'UK', CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[Companies] ([CompanyID], [CompanyName], [Sector], [FoundationYear], [Country], [Revenue]) VALUES (3, N'Trust Bank AG', N'Commercial Banking', NULL, N'Germany', CAST(120000000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ((0)) FOR [Revenue]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD CHECK  (([revenue]>=(0)))
GO
