USE [project_NisanurUnal]
GO
/****** Object:  StoredProcedure [dbo].[BatchPerformanceAdjustment]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[BatchPerformanceAdjustment]
    @startemployeeid as int,
    @batchsize as int
as 
begin
    declare @counter int;
    declare @endid int; 

    -- 1. başlangıç ve bitiş değerlerini ayarla
    set @counter = @startemployeeid;
    set @endid = @startemployeeid + @batchsize; 

    -- while döngüsü
    while @counter < @endid
    begin
        -- performans skorunu güncelle
        update employeedetails 
        set performancescore = performancescore + 0.10
        where employeeid = @counter;
        
        -- bilgi mesajı
        print 'success: employee id ' + cast(@counter as nvarchar) + ' performance score increased by 0.10.';

        -- sayacı bir artır (döngünün ilerlemesi)
        set @counter = @counter + 1; 
    end

    print 'batch adjustment process completed';
end

GO
