USE [project_NisanurUnal]
GO
/****** Object:  View [dbo].[v_HighVolumeCompanySummary]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[v_HighVolumeCompanySummary]
as select
c.companyname, sum(p.price* s.quantity) as revenue,
sum(s.quantity) as TotalProductsPurchased
from sales s 
inner join Companies c on s.CompanyID= c.CompanyID
inner join Products p on p.ProductID= s.ProductID 
group by c.CompanyName;
GO
