USE [project_NisanurUnal]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[EmployeeID] [int] NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[PerformanceScore] [decimal](5, 2) NOT NULL,
	[Bonus] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EmployeeDetails] ([EmployeeID], [PhoneNumber], [Email], [PerformanceScore], [Bonus]) VALUES (1, N'555-1001', N'alice.s@apex.com', CAST(8.80 AS Decimal(5, 2)), CAST(5000.00 AS Decimal(10, 2)))
INSERT [dbo].[EmployeeDetails] ([EmployeeID], [PhoneNumber], [Email], [PerformanceScore], [Bonus]) VALUES (2, N'555-1002', N'william.d@apex.com', CAST(9.50 AS Decimal(5, 2)), CAST(6500.00 AS Decimal(10, 2)))
INSERT [dbo].[EmployeeDetails] ([EmployeeID], [PhoneNumber], [Email], [PerformanceScore], [Bonus]) VALUES (3, N'555-1003', N'robert.j@apex.com', CAST(8.20 AS Decimal(5, 2)), CAST(4000.00 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[EmployeeDetails] ADD  DEFAULT ((0)) FOR [Bonus]
GO
ALTER TABLE [dbo].[EmployeeDetails]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetails_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeDetails] CHECK CONSTRAINT [FK_EmployeeDetails_Employees]
GO
ALTER TABLE [dbo].[EmployeeDetails]  WITH CHECK ADD  CONSTRAINT [CHK_Bonus] CHECK  (([Bonus]>=(0)))
GO
ALTER TABLE [dbo].[EmployeeDetails] CHECK CONSTRAINT [CHK_Bonus]
GO
ALTER TABLE [dbo].[EmployeeDetails]  WITH CHECK ADD  CONSTRAINT [CHK_PerformanceScore] CHECK  (([PerformanceScore]>=(0) AND [PerformanceScore]<=(10)))
GO
ALTER TABLE [dbo].[EmployeeDetails] CHECK CONSTRAINT [CHK_PerformanceScore]
GO
