USE [project_NisanurUnal]
GO
/****** Object:  View [dbo].[V_ManagerPerformanceView]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_ManagerPerformanceView]
as select
e.firstname + ' ' + e.lastname as FullName,
em.email, e.position, em.performancescore
from employees e
inner join EmployeeDetails em on e.EmployeeID = em.EmployeeID;
GO
