USE [project_NisanurUnal]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11.12.2025 12:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[ProductName] [nchar](50) NOT NULL,
	[Category] [nchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[LaunchDate] [date] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Products] ([ProductID], [CompanyID], [ProductName], [Category], [Price], [LaunchDate]) VALUES (1, 1, N'US Equity Fund                                    ', N'Mutual Fund                                       ', CAST(158.29 AS Decimal(10, 2)), CAST(N'2020-10-01' AS Date))
INSERT [dbo].[Products] ([ProductID], [CompanyID], [ProductName], [Category], [Price], [LaunchDate]) VALUES (2, 1, N'High Yield Bond                                   ', N'Fixed Income                                      ', CAST(1044.75 AS Decimal(10, 2)), CAST(N'2023-05-22' AS Date))
INSERT [dbo].[Products] ([ProductID], [CompanyID], [ProductName], [Category], [Price], [LaunchDate]) VALUES (3, 2, N'Payment Gateaway API                              ', N'Software                                          ', CAST(52.49 AS Decimal(10, 2)), CAST(N'2022-01-20' AS Date))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CompanyID] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CompanyID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products]
GO
